Flask==2.1.2
Flask-Compress==1.13
Flask-SeaSurf==1.1.1
Flask-WTF==1.0.1
gunicorn==19.9.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
joblib==1.2.0
jsonify==0.5
jsonschema==4.17.3
requests==2.27.1
requests-oauthlib==1.3.1
scikit-learn==1.1.1
sklearn==0.0
Werkzeug==2.1.2
wincertstore==0.2
numpy>=1.9.2
WTForms==3.0.1
zipp==3.11.0
scikit-learn>=0.18
matplotlib>=1.4.3
pandas>=0.19
